doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    link(rel='stylesheet', href='/stylesheets/google.css')
    link(rel='stylesheet', href='/stylesheets/mui.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-2.2.0.min.js")
    script(src="/javascripts/polyglot.min.js")
  body.hide-sidedrawer
    #polyglot(data-polyglot=polyglot)
    #sidedrawer.mui--no-user-select
      #sidedrawer-brand.mui--appbar-line-height
        span.mui--text-title Hansell Kopp
      .mui-divider
        ul
          li
            strong #{polyglot.t('nav.files')}
            ul
              li
                a(href="/init-database") #{polyglot.t('nav.init_db')}
    header#header
      .mui-appbar.mui--appbar-line-height
        .mui-container-fluid
          a.sidedrawer-toggle.mui--visible-xs-inline-block.mui--visible-sm-inline-block.js-show-sidedrawer ☰
          a.sidedrawer-toggle.mui--hidden-xs.mui--hidden-sm.js-hide-sidedrawer ☰
            span.mui--text-title.mui--visible-xs-inline-block Hansell Kopp
          span 
           =title 
          #loginMenu.mui--pull-right
      .breadcrumb-container
        ul#breadcrumb
    #content-wrapper
      .mui--appbar-height
      .mui-container-fluid
        block content
    footer.footer
      .mui--clearfix
      .mui-container-fluid
        p #{polyglot.t('nav.app_message',{"city": "Berlin"})} 
  script(src="/javascripts/mui.min.js")
  script(src="/javascripts/sweetalert.min.js")
  script(src="/javascripts/moment-with-locales.min.js")
  script(src="/javascripts/index.js")
  script(src="/javascripts/components.js")
  script(src="/javascripts/storage.js")
  script.
    $(document).ready(function(){
      // Translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Login logout 
      //
      const user = getCookieJSON('token').user
      const loginMenu = $('#loginMenu')
      if(user) {
        loginMenu.append(makeActionButton(
          'fa-user', 'mui--text-primary',
          `logout ${user.username}`,
           () => {$.get("/api/auth/logout").done(() => window.location.href = '/') }
        ))
        } else {
          loginMenu.append(loginForm())
        }
        $('#loginForm').submit( (event) => {
                event.preventDefault()
                $.post(
                    "/api/auth/login",
                    $('#loginForm').serialize()
                    ).done( (data) =>  {
                        window.location.href = `/`
                    }
                ).fail( (err)=> 
                    swal("Authentication error!",'Invalid email or password', "error")
                )
        })
    })

    function loginForm() {
      var form = document.createElement('form')
      form.id = 'loginForm'
      form.appendChild(createFormField('email','email','email', true, true))
      form.appendChild(createFormField('password','password','password', true))
      form.appendChild(makeActionButton(
            'fa-user', 'mui--text-primary',
                'login'
          ))
      return form
    }