extends ../layout

block content
  #payload(data-order=order data-title=title)
  include ./form
  table#table.mui-table.mui-table--bordered
    thead#tableHeader
    tbody#tableBody
  h2#orderTotal.mui--text-right.mui-panel

  script.
    // define variables
    //
    let orderData =  JSON.parse(document.getElementById('payload').dataset.order)
    const fields = ['quantity', 'code', 'description', 'price', 'total', 'id']
    const actions = [{ 
        url: '/orders/detail/delete/', 
        icon:  'fa-times',
        color: 'mui--text-accent',
        eventListener: onLinkClick
      }]
    // start script
    //
    $(document).ready(function(){
      $('#breadcrumb').append(renderBreadcrumb([
        { text: 'Home', href: '/'},
        { text: 'Orders', href: '/orders'},
        { text: 'Edit', href: '/orders/edit'}
      ]))
      $('#tableHeader').append(makeHeader(fields))
      renderDetails()
      $( "#order" ).submit( (event) => {
        event.preventDefault()
        item = $( "#order" ).serialize()
        $.post(
          "/api/orders",
          item
          ).done((s) => {
            orderData.OrderDetails.push(
              {
                quantity: s.data.quantity,
                code: s.data.code,
                description: s.data.description,
                price: s.data.price,
                total: s.data.price * s.data.quantity,
                id: s.data.id
              }
            )
            renderDetails()
          } 
        ).fail( (err)=> $.handleErrors(err) )
      })
    })

    function orderTotalize() {
      orderData.total = 0
      orderData.OrderDetails.map(
        s => { 
          s.total = s.quantity * s.price
          orderData.total += s.total
        }
      )
      $('#orderTotal').text(`Order total: ${orderData.total.toLocaleString()}`)
    }
    function renderDetails() {
      orderTotalize()
        $('#tableBody').empty()
        $('#tableBody').append(makeBody(
          fields,
          orderData.OrderDetails, 
          actions )
        )
        $('#tableFooter').empty()
        
    }

    // Quantity selection modal window
    //
    function activateModalQuantity() {
      modal = createModal(
        'modalQuantity','Quantity', 
        [1,2,3,4,5,6,7,8,9],
        (item) => {
          $('#quantity').val(item)
          $('#total').val(item * $('#price').val())
          mui.overlay('off', document.getElementById('modalQuantity'))
        }
      )
    }

    // Table selection modal window
    //
    function activateModalProduct() {
      $.get("/api/products").done( 
          (data) => {
            modal = createModal(
              'modalProduct','Product', 
              data.products.map((s) => ({
                code: s.code,
                description: s.description
              })
              ),
              selectProduct              
            )
          }
        ).fail( (err)=> $.handleErrors(err) )
    }

    // Quantity selection event handler
    //
    function selectProduct(item) {
      $.get(`/api/products/code/${item.code}`).done( 
        (s) => {
          $('#code').val(s.product.code)
          $('#price').val(s.product.price)
          $('#total').val(s.product.price * $('#quantity').val())
          $('#id').val(s.product.id)
          $('#description').val(s.product.description)
        }
      ).fail( (err)=> $.handleErrors(err) )
      mui.overlay('off', document.getElementById('modalProduct'))
    }

    // manage Details,Edit,Delete actions 
    //
    function onLinkClick( event ) {
      event.preventDefault()
      var target = event.target || event.srcElement
      var element = target.nodeName === 'I'? target.parentNode : target
      var urlArray = element.href.split('/')
      var id = parseInt(urlArray[urlArray.length - 1])
      $.delete(
      `/api/orders/detail/${id}`
      ).done(() => {
        orderData.OrderDetails = orderData.OrderDetails.filter(s => s.id !== id)
        renderDetails()
      }
    )
    }