extends ../layout

block content
  #payload(data-data=data, data-title=title)
  table#table.mui-table.mui-table--bordered
    caption#tableCaption.mui--text-left
    thead#tableHeader
    tbody#tableBody
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.data)
    const title = document.getElementById('payload').dataset.title
    const sortProducts = data.Products.sort(
          (a,b) => a.description > b.description
        )
    const actions = [
      { 
        url: '/products/delete/', 
        icon:  'fa-times',
        color: 'mui--text-accent',
        eventListener: onLinkClick
      },
      { 
        url: '/products/edit/', 
        icon:  'fa-pencil',
        color: 'mui--text-primary',
        eventListener: onLinkClick
      }      
    ]
    
    // start script
    //
    $(document).ready(function() {
      // 
      // Translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.categories'), href: '/categories'},
          { text: polyglot.t('breadcrumb.products'), href: `/categories/${data.id}/products/`}
      ]))
      // Table
      const fields = [
        { field: 'code', label: polyglot.t('fields.products.code') },
        { field: 'description', label: polyglot.t('fields.products.description')},
        { field: 'image_url', label: polyglot.t('fields.products.image_url')},
        { field: 'price', label: polyglot.t('fields.products.price')},
        { filed: 'id' }
      ]
      $('#tableCaption').append(
        makeCaption(
          title,
          'fa-cutlery',
          polyglot.t('forms.buttons.add'),
          polyglot.t('forms.placeholders.search')
      ))
      $('#tableHeader').append(makeHeader(fields))
      $('#tableBody').append(makeBody(fields, sortProducts, actions ))
      $('#searchBox').keyup(renderFilter)
    })

    // Render filtered data
    //
    function renderFilter (event) {
      const token = $( this ).val().toUpperCase()
      var currentData = sortProducts.filter((s) => 
        s.description.toUpperCase().startsWith(token) ||
        s.number.toString().startsWith(token)
      )
      $('#tableBody').empty()
      $('#tableBody').append(makeBody(currentData, actions ))
    }

    // manage Edit,Delete actions 
    //
    function onLinkClick( event ) {
      event.preventDefault()
      var target = event.target || event.srcElement
      var element = target.nodeName === 'I'? target.parentNode : target
      var urlArray = element.href.split('/')
      var verb = urlArray[urlArray.length - 2]
      var id = urlArray[urlArray.length - 1]
      switch( verb ) {
        case 'delete':
           $.delete(
            `/api/products/${id}`
            ).done(function() {
            window.location.href = `/categories/${data.id}/products/`
          })
          break
        case 'edit':
          window.location.href = `/categories/${data.id}/products/edit/${id}`
          break
      }
    }

    // manage add button
    //
    function onAddClick() {
      if(data.id !== null) {
        window.location.href = `/categories/${data.id}/products/create`
      }
    }