form#user.mui-form
  legend 
    h2
      i.fa.fa-user-circle-o
      span &nbsp; 
      = title
  .mui-textfield
    input(type="text", name="username", value=user.username required autofocus)
    label #{polyglot.t('fields.users.username')}
    span#error-username.mui--text-danger.errorField
  .mui-textfield
    input(list="usertypes", name="user_type", value=user.user_type required)
    datalist#usertypes
    label #{polyglot.t('fields.users.user_type')}
  .mui-textfield
    input(type="text", name="email", value=user.email required)
    label #{polyglot.t('fields.users.email')}
    span#error-email.mui--text-danger.errorField
  .mui-textfield
    input(type="password", name="password", value=user.password required)
    label #{polyglot.t('fields.users.password')}
    span#error-password.mui--text-danger.errorField
  input(type='hidden' name='id' value=user.id id='id')
  button(type="submit")#submit-button.mui-btn.mui-btn--raised.mui--pull-right
    i.fa.fa-floppy-o 
    strong &nbsp; #{polyglot.t('forms.buttons.save')}
    