extends ../layout

block content
  #payload(data-category=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.category)
      
    // start script
    //
    $(document).ready(function(){
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.categories'), href: '/categories'},
          { text: polyglot.t('breadcrumb.products'), href: `/categories/${data.CategoryId}/products`},
          { text: polyglot.t('breadcrumb.create'), href: `/categories/${data.CategoryId}/products/create`}
      ]))
      $( "#product" ).submit( (event) => {
        event.preventDefault()
        const dataset = $( "#product" ).serialize()
        $.post(
          `/api/categories/products`,
          dataset
          ).done( () => window.location.href = `/categories/${data.CategoryId}/products`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })