extends ../layout

block content
  #payload(data-category=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.category)
      
    // start script
    //
    $(document).ready(function(){
      renderBreadcrumb([
          { text: 'Home', href: '/'},
          { text: 'Categories', href: '/categories'},
          { text: 'Products', href: `/categories/${data.CategoryId}/products`},
          { text: 'Create', href: `/categories/${data.CategoryId}/products/create`}
      ])
      $( "#product" ).submit( (event) => {
        event.preventDefault()
        const dataset = $( "#product" ).serialize()
        $.post(
          `/api/categories/products`,
          dataset
          ).done( () => window.location.href = `/categories/${data.CategoryId}/products`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })