extends ../layout

block content
  #payload(data-product=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.product)
    // start script
    //
    $(document).ready(function(){
      var form = $('#product')
      var id = $('#product_id').val()
      // translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
        { text: polyglot.t('breadcrumb.home'), href: '/'},
        { text: polyglot.t('breadcrumb.categories'), href: '/categories'},
        { text: polyglot.t('breadcrumb.products'), href: `/categories/${data.CategoryId}/products`},
        { text: polyglot.t('breadcrumb.edit'), href: `/categories/${data.CategoryId}/products/edit/${id}`}
      ]))
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/products/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/categories/${data.CategoryId}/products`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })