form#product.mui-form
  legend 
  h2
    i.fa.fa-cutlery
    span &nbsp; 
    = title
  input(type='hidden' name='product_id' value=data.id id='product_id')
  input(type='hidden' name='category_id' value=data.CategoryId id='category_id')
  .mui-textfield
    input(type="number", name="number", value=data.number, required autofocus)
    label number
    span#error-number.mui--text-danger.errorField
  .mui-textfield
    input(type="text", name="description", value=data.description, required)
    label description
  .mui-textfield
    input(type="text", name="image_url", value=data.image_url, required)
    label image
  .mui-textfield
    input(type="text", name="price", value=data.price, required)
    label price
  
  button(type="submit")#submit-button.mui-btn.mui-btn--raised.mui--pull-right
    i.fa.fa-floppy-o 
    strong &nbsp; Save